.env
API/__pycache__/

bot/__pycache__/

faq/__pycache__/

faq/migrations/__pycache__/

category/__pycache__/

category/migrations/__pycache__/

instances/__pycache__/

instances/migrations/__pycache__/

process/__pycache__/

process/migrations/__pycache__/

Profile/__pycache__/

Profile/migrations/__pycache__/

githubtoken

bot/migrations/__pycache__/

botUsers/__pycache__/

botUsers/migrations/__pycache__/
