.env
API/__pycache__/

bot/__pycache__/

faq/__pycache__/

faq/migrations/__pycache__/

category/__pycache__/

category/migrations/__pycache__/

instances/__pycache__/

instances/migrations/__pycache__/

process/__pycache__/

process/migrations/__pycache__/

Profile/__pycache__/

Profile/migrations/__pycache__/

githubtoken

bot/migrations/__pycache__/

botUsers/__pycache__/


*/__pycache__/

botUsers/migrations/
botUsers/migrations/__pycache__/
botUsers/migrations/0003_subscription_chat.py
botUsers/migrations/0004_auto_20211129_1106.py
botUsers/migrations/0005_botuser__c.py
botUsers/migrations/0006_auto_20211129_1116.py
botUsers/migrations/0007_auto_20211129_1121.py
botUsers/migrations/0008_auto_20211129_1125.py
botUsers/migrations/0001_initial.py
botUsers/migrations/0002_auto_20211125_1119.py
botUsers/migrations/0001_initial.py
botUsers/migrations/0002_auto_20211125_1119.py
celerybeat-schedule
category/__pycache__/admin.cpython-38.pyc
bot/telegram/__pycache__/__init__.cpython-38.pyc
bot/telegram/__pycache__/commands.cpython-38.pyc
bot/telegram/__pycache__/connection.cpython-38.pyc
bot/telegram/__pycache__/handlers.cpython-38.pyc
bot/telegram/__pycache__/parsing.cpython-38.pyc
bot/telegram/__pycache__/utils.cpython-38.pyc
category/__pycache__/admin.cpython-38.pyc
